<footer class="footer bg-white" style="padding: 0px;">
    <hr color="blue"><br>
    <br>
        <center>
            <div class="container">
                <p class="text-dark" style="color:#a2a09f;">© 2019 Ocean Adventure. All Rights Reserved
                    <button href="#" class="btn btn-info">Mentions Légales</button>
                </p>
            </div>
        </center>
    <br>
</footer>
