{% extends 'structure/base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <main role="main" class="container">
	    <div class="row">
		    <div class="col-md-12">
                <img src="{{ asset('images/home_surfing_slider.jpg') }}" alt="" width="100%" height="80%"/>
		    </div>
	    </div>
	</main>
{% endblock %}