{% extends 'Base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <main role="main" class="container">
    <div class="container-fluid">
	    <div class="row">
		    <div class="col-md-10">
                <img src="{{ asset('images/home_surfing_slider.jpg') }}" alt="" width="1250" height="740" style="float:left;"/>
		    </div>
            <div class="col-md-2">
            </div>
	    </div>
    </div>
    
    </main>
{% endblock %}