{% extends 'Base.html.twig' %}

{% block title %}Surfcamp Kitesurf Fuerteventura Corralejo{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="mt-5">
            <div>
                <center><h2 class="class-title">Surfcamp & Kitesurf Fuerteventura Corralejo</h1></center>
                    <hr>
                    <div class="container">
                        <center>
                        <p style="center">
                                                    <h2>Les Meilleurs</h2>
                                    <h2>SurfCamp et Kite Camp de Fuerteventura Corralejo</h2>
                        </p>
                        </center>
                        <p style="center">
                            Il existe plus de 55 écoles de surf, surfcamps et kitecamps à Corralejo, Fuerteventura,
                            près de Flag Beach. Au fil des années et des expériences nous avons appris à les connaître et avons sélectionné<br>
                            pour vous celles qui répondent à notre charte de qualité : pédagogie, infrastructure, convivialité...
                            de plus ce sont les meilleures écoles de surf et écoles de kitesurf de Corralejo, Fuerteventura en<br>
                            terme de qualité de service et de prestations. Teiva, le responsable du pôle surf est un ancien pro surfeur
                            tout comme Manu, un ancien pro kiteur ! Que vous soyez seul, en couple, en famille ou en<br>
                            groupe Ocean Adventure saura répondre parfaitement à vos attentes. Chacun de ces camps 
                            propose des cours de surf, des cours de kite et de sup afin que vous puissiez combiner différentes<br>
                            activités lors de votre séjour. Nous proposons de plus dans ces camps du wakeboard, 
                            Stand Up Paddle: SUP de vagues et SUP Race, de l'outrigger et du foil. Contactez nous !
                        </p>
                        <center>
                        <h2>KiteCamp Fuerteventura</h2>
                        </center>
                    </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="Etirement-du-dos-surfeur-plage-surf-960x610.jpg"/ width="500" height="300">
                    <br>
                    <h2>Surf Camp à Corralejo, îles Canaries</h2>
                    <p>Notre surf camp est localisé au nord de l'île de Fuerteventura à Corralejo. Il se situe à deux pas des plages paradisiaques et du parc naturel de Corralejo. 
                    </p>
                    <p style="align"> Avec une superficie de 1660km2, Fuerteventura est la deuxième île par sa taille de l'archipel des îles Canaries. Aujourd'hui plus de 107000 habitants y vivent et profitent de son climat agréable tout au long de l'année - voir moyennes ici. Proche de l'eau et des commerces, la ville de Corralejo compte aujourd'hui plus de 30000 habitants.Le surf camp vous accompagnera tout au long de vos vacances pour vous faire découvrir cette île et surfer ses vagues turquoises! 
                    </p>  
                </div>
                <div class="col-md-6">
                    <h2>Le Surf camp de Fuerteventura</h2>
                    <p>L'île de Fuerteventura n'est que sable et mer à l'état pur. Au bout des dunes, vous trouverez des eaux couleur turquoise et du sable d'un blanc parfait. Ses plages paradisiaques et sa nature exubérante vous laisseront bouche bée.</p>
                    <p>L'île est un refuge authentique de sérénité pour oublier le stress de votre quotidien. Ses eaux cristallines vous permettront de vous ressourcer et vous vous sentirez renouvelé. Profitez de ces 10 km de plages juste pour vous. Que l'on soit adepte de bains de soleil sur la plage ou plutôt avide de sports, sur Fuerteventura chacun trouvera de quoi occuper ses journées selon ses goûts. L'île comporte de beaux villages et vous offre la proximité du centre urbain où vous pourrez découvrir la culture tropicale, latino américaine des canariens et la mouvance jeune et très européenne de cette ville..</p>
                    <img src="Surf-Camp-Corralejo-Fuerteventura-lobos-island-960x688.jpg" width="550" height="300"/>
                </div>
            </div>
        </div>
    </main>
{% endblock %}