{% extends 'structure/base.html.twig' %}

{% block title %}Comment Choisir son Séjour Surf ? Guides de Voyage Surf{% endblock %}

{% block bandeau %}
		<div class="col-md-12">
        	<img src="{{ asset('images/imgConcept.png') }}" alt="" class="img-fluid" width="100%" height="auto" style="margin: 0px; padding: 0px;"/>
		</div>
{% endblock %}

{% block body %}
<main role="main" class="container">
</main>
{% endblock %}