{% extends 'Structure/base.html.twig' %}

{% block title %}Nouveau Cours{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1>Créer un nouveau Cours</h1>

        {{ include('produit/_form.html.twig') }}

        <a href="{{ path('produit_index') }}">Retour à la liste des cours</a>
    </main>
{% endblock %}
