{% extends 'structure/base.html.twig' %}

{% block title %}Editer SurfCamp{% endblock %}

{% block body %}
<main role="main" class="container">
    <br><br>

    {{ include('surf_camp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('surf_camp_index') }}">Retour à la liste</a>

    {{ include('surf_camp/_delete_form.html.twig') }}
</main>
{% endblock %}
