{% extends 'structure/base.html.twig' %}

{% block title %}Nouveau SurfCamp{% endblock %}

{% block body %}
<main role="main" class="container"><br><br>
    <h1>Créer nouveau SurfCamp</h1>

    {{ include('surf_camp/_form.html.twig') }}

    <a href="{{ path('surf_camp_index') }}">Retour à la liste</a>
</main>
{% endblock %}
