{% extends 'structure/base.html.twig' %}

{% block title %}Nouvelle Activité{% endblock %}

{% block body %}
<main role="main" class="container"><br><br>

    {{ include('activite/_form.html.twig') }}

    <a href="{{ path('activite_index') }}">Retour à la liste</a>
</main>
{% endblock %}
