<footer class="footer bg-white" style="padding: 0px;">
    <br>
    <center>
    <div class="container">
    <span class="text-dark">© 2019 Ocean Adventure. All Rights Reserved</span>
    <button href="#">Mentions Légales</button>
    </center>
</footer>
